@import '/src/global.scss';

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;

  .tasksCounter {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
    font: $bold-1;

    .tasksCreated {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      p {
        color: $blue;
      }
    }

    .tasksCompleted {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      p {
        color: $purple;
      }
    }
  }

  .counterSpan {
    color: $gray-100;
    padding: 2px 8px;
    background-color: $gray-500;
    border-radius: 999px;
  }

  .emptyTasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    border-top: 1px solid $gray-300;
    gap: .5rem;

    img {
      margin-bottom: 1rem;
    }

    .noTask-1 {
      font: $bold-3;
      color: $gray-300;
    }

    .noTask-2 {
      font: $regular-3;
      color: $gray-300;
    }
  }

  .tasksContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;

    .tasksContainerItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // gap: 1rem;
      margin-bottom: 1.75rem;
      font: $regular-2;
      width: 736px;
      color: $gray-100;
      flex: 1;
      background-color: $gray-400;
      padding: 16px;
      border-radius: 8px;
      height: 72px;
    }
  }
}