@import '/src/global.scss';

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;

  .tasksCounter {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
    font: $bold-1;

    .tasksCreated {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      p {
        color: $blue;
      }
    }

    .tasksCompleted {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      p {
        color: $purple;
      }
    }
  }

  .counterSpan {
    color: $gray-100;
    padding: 2px 8px;
    background-color: $gray-500;
    border-radius: 999px;
  }

  .tasksAppContainer {
    width: 55%;

    .emptyTasksContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5rem 0;
      border-top: 1px solid $gray-400;
      border-radius: 10px;
      margin-top: 2rem;
      gap: .5rem;
      width: 100%;
  }


    img {
      margin-bottom: 1rem;
    }

    .noTask-1 {
      font: $bold-3;
      color: $gray-300;
    }

    .noTask-2 {
      font: $regular-3;
      color: $gray-300;
    }
  }
}