@import '/src/global.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;

  .appContainer {
    height: calc(100vh - 15vh);
    background-color: $gray-600;
  }
}