@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

// cores
$purple: #8284fa;
$purple-dark: #5e60ce;
$blue: #4ea8de;
$blue-dark: #1e6f9f;
$gray-700: #0d0d0d;
$gray-600: #1a1a1a;
$gray-500: #262626;
$gray-400: #333333;
$gray-300: #808080;
$gray-200: #d9d9d9;
$gray-100: #f2f2f2;
$danger: #e25858;

// fontes
$regular-1: 400 0.75rem/1.4 'Inter', sans-serif;
